#dashButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button{
    margin: 1em;
    border: #FFF solid 3px;
    padding: 1em;
    font-size: 1.1vw;
}

button:hover{
    cursor: pointer;
    border: #FFF solid 3px !important;
    color: #FFF !important;
}

button:active{
    border: #FFF solid 3px !important;
    color: #FFF !important;
}

#btnReset{
    color: red;
    border: red 3px solid;
}

#btnReset:hover{
    box-shadow: #F00 0 0 1em;
    text-shadow: #F00 0 0 .5em;
}

#btnReset:active{
    background-color: #F00;
}

#btnSave{
    color: #0F0;
    border: #0F0 3px solid;
}

#btnSave:hover{
    box-shadow: #0F0 0 0 1em;
    text-shadow: #0F0 0 0 .5em;
}

#btnSave:active{
    background-color: #0F0;
}

#btnSaveCode{
    color: #00F;
    border: #00F 3px solid;
}

#btnSaveCode:hover{
    box-shadow: #00F 0 0 1em;
    text-shadow: #00F 0 0 .5em;
}

#btnSaveCode:active{
    background-color: #00F;
}

#pcard > pixel:not(.clickable){
    background: white;
    box-shadow: unset;
}

#pcard > pixel.clickable{
    cursor: pointer;
    background-color: white;
}

#pcard > pixel.clickable.isHole{
    background: repeating-conic-gradient(#888 0% 25%, transparent 0% 50%) 50% / 20px 20px;
    opacity: 0.5;
}

#pcard > pixel.clickable:not(.isHole){
    background: white;
}

#pButtons{
    display: flex;
    margin-bottom: 1.5vw;
    width: 100%;
    justify-content: space-evenly;
}

#cards{
    display: inline-flex;
    justify-content: space-evenly;
    width: 30%;
}

#pButtons button{
    margin: 0;
    padding: 10px;
    border: #FFF solid 3px;
    font-size: .8vw;
    color: orange;
    border: orange 3px solid;
}

#pButtons button:hover{
    box-shadow: orange 0 0 1em;
    text-shadow: orange 0 0 .5em;
}

#pButtons button:active{
    background-color: orange;
}

#btnPunch{
    background-color: white;
}